<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head', { title: "" }); %>
  </head>
  <body class="vh-100">
    <%- include('../partials/header');%>
    <main class="container my-5 h-100">
      <ul class="mb-5">
        <% items.forEach(function(item) { %>
        <li
          class="card d-flex flex-row justify-content-between align-items-center p-3 mb-3"
        >
          <div class="" style="width: 90%">
            <h2><%= item.name %></h2>
            <p><%= item.description %></p>
            <p>Price: $<%= item.price %></p>
            <p>Preparation Time: $<%= item.preparationTime %></p>
          </div>
          <div class="d-flex align-items-center" style="width: 10%">
            <button
              class="btn btn-primary cart-button"
              data-item="<%= JSON.stringify(item) %>"
              id="remove-button"
            >
              -
            </button>
            <div class="mx-2">0</div>
            <button
              class="btn btn-primary cart-button"
              data-item="<%= JSON.stringify(item) %>"
              id="add-button"
            >
              +
            </button>
          </div>
        </li>
        <% }); %>
      </ul>
      <div>
        <h3>Your Cart</h3>
        <ul id="cart-items" class="mb-3"></ul>
        <p id="total">Total Price: <span id="price">$0</span></p>
        <button id="checkout-button" class="btn btn-success">Checkout</button>
      </div>
      <!-- Add more restaurant-specific content here -->
    </main>
    <%- include('../partials/footer');%>
    <script src="/js/cart.js"></script>
  </body>
</html>
